
    @font-face { font-family: MyFont; src: url('Bombing.ttf'); } 
    @font-face { font-family: sophie; src: url('DK Jambo.otf'); } 
    @font-face { font-family: DASHA; src: url('BLKCHCRY.TTF'); } 
    h1 {       
       font-family: MyFont;
       font-size:192px;
     }
    p{
       font-family: sophie;
       font-size:30px;
    }
    table{
       font-family: DASHA;
       font-size: 23px;
    }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
table,td,th{
  border: 1px solid black;
    }
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #6600FF ;
}
.active {
    background-color: #6600FF  ;
}
